<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="video-background">
    <video src="your-video-file.mp4" autoplay muted loop></video>
  </div>
  <div class="centered-content">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}. <br> Land of the Brave, <br> Paradise of pilots.</p>
    <a href="/drones">Drones</a>
  </div>
</body>
</html>
